<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Train</display-name>
  <welcome-file-list>
    <welcome-file>login/login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>login.Servlet.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>Search.Servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>Buy.Servlet.BuyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketServlet</display-name>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>TicketSearch.Servlet.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/TicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RootServlet</display-name>
    <servlet-name>RootServlet</servlet-name>
    <servlet-class>Root.Servlet.RootServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RootServlet</servlet-name>
    <url-pattern>/RootServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeDataServlet</display-name>
    <servlet-name>ChangeDataServlet</servlet-name>
    <servlet-class>Root.Servlet.ChangeDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDataServlet</servlet-name>
    <url-pattern>/ChangeDataServlet</url-pattern>
  </servlet-mapping>
</web-app>